.SlideShow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SlideShow > .Output > * {
  display: none;
}

.SlideShow > .Output > canvas {
  display: block;
  max-height: 100vh !important;
  width: auto !important;
}
